<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tripdiary">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripDiary"
        tools:targetApi="31">
        <activity
            android:name=".ExpensesUpdateActivity"
            android:label="Expense Update"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:label="Upload" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="Search" />
        <activity
            android:name=".AddExpensesActivity"
            android:exported="false"
            android:label="Add Expense " />
        <activity
            android:name=".ExpensesActivity"
            android:exported="false"
            android:label="Expense List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TripUpdateActivity"
            android:exported="false"
            android:label="Update Trip"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add a Trip"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="All Trip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>